
<!DOCTYPE html>
<html>
  <head>
 
    <link rel='stylesheet' href='/public/dist/css/bootstrap.css' />
  </head>
  <body>
    <h1><%= message %></h1>
    <p><%= error.status %></p>
    <p>Welcome to <%= error.stack %></p>
  </body>
</html>