
body,html{
    background:#f4f4f4;
    margin:0 auto;


    min-width: 320px;


}


#header {
    overflow: hidden;

    padding-top:8px;padding-bottom: 8px;
    padding-left:16px;
    background:#FFFFFF;

}


#logo{
    display: block;
    float: left;
    max-width:332px;

}
#logo img {
    width:100%;height:auto;
}



#menu{
    padding-top:16px;padding-bottom: 16px;
    height:40px;
    line-height: 40px;
    float: right;
}

#menu a {
    height:40px;
    color:#838383;font-size:20px; text-decoration: none;
    display: inline-block; margin-right: 10px;
    padding:0 8px;
}
#menu a.selected{
    color:#fff;
    background: #afafaf;
    border-radius: 8px; -moz-border-radius: 8px;
}


#footer {
    height:85px;     background: url(img/line.jpg) left top repeat-x;
    text-align:center;line-height: 20px; padding:23px 0 23px;
    color:#b7b7b7;
}

#wrapper {
    background: #f4f4f4;
}


#jiang-list {

}

#jiang-list .Item{
    width:100%;float:left;
    padding:15px;

    background: url(img/line.jpg) left top repeat-x;
}

#jiang-list    .Img-inner {

    width:32%;float:left;
    max-width: 200px;

    min-width:150px;
    text-align: center;


}
#jiang-list .Img {
   width:100%;height:200px;overflow: hidden;   margin-bottom: 2em;
}
#jiang-list .Img img{
    width:100%;height:auto;
}

#jiang-list .DateTime {float:right;}

#jiang-list .Intro{
    float:left;width:50%;
    color:#6d6d6d;
    padding-left:1em;  padding-right:1em;
    font-size:20px;line-height:32px;
}
#jiang-list .Intro .Title {
       color:#ff6000;
    margin-bottom: 30px;
}
#jiang-list .Intro .desc {
    margin-bottom: 30px;
}


#about {
    background: url(img/line.jpg) left top repeat-x;
    padding:40px 0 40px 50px;
    min-height:600px;

    font-size:20px; line-height:48px;color:#515151;
}



#index {

}
.index-banner {
    margin:0 auto;
}
.download-link {
   margin:50px auto;
}

.index-banner  img,.download-link img {width:100%;height:auto;}

.index-intro  {

    padding:0 20px;
    margin:0 auto;

}
.index-intro img {
    width:100%;height:auto;
}
#index .Title {

    margin:0 auto 42px;
    height:27px;
    background: url(img/line.jpg) left center repeat-x;
    text-align: center;
}



.index-intro li {
   margin-bottom: 52px;
}

.index-intro .tags {
    padding-top:7px;
}
.index-intro .tags a{
    display: inline-block;
    height:2em; line-height: 2em;font-size: 1.5em;color:#8f8f8f; border:1px solid #dddddd; padding:0 12px;
    border-radius: 8px;-webkit-border-radius: 8px; text-decoration: none;margin-right:8px;margin-bottom: 8px;
    background: #fff;
}
